.conduct-code {
  width: 80%;
  margin: 0 auto 200px;

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: center;

    @include from(large) {
      font-size: 40px;
      margin-top: 30px;
    }
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 40px;

    @include from(large) {
      font-size: 30px;
      margin-top: 30px;
    }
  }

  h1 + p {
    margin-top: 50px;
  }

  h2 + p {
    margin-top: 10px;
  }

  p,
  ul,
  li {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $gray;
    line-height: 40px;
  }
}
