.landing {
  width: 80%;
  margin: 0 auto;
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  align-items: center;

  @include from(medium) {
    width: 65%;
    min-height: 100vh;
    align-items: flex-start;
  }

  @include from(large) {
    width: 65%;
    align-items: flex-start;
  }

  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 700;

    @include from(large) {
      font-size: 35px;
    }
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;

    @include from(large) {
      font-size: 25px;
    }
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;

    @include from(large) {
      font-size: 18px;
    }
  }

  .button-red {
    font-family: "Poppins", sans-serif;
    background-color: $red;
    font-size: 40px;
    color: $white;
    letter-spacing: 5px;
    padding: 40px 60px;
    border-radius: 80px;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;

    @include from(large) {
      font-size: 18px;
      padding: 20px 30px;
    }
  }

  .text {
    width: 90%;
    padding: 15px;

    @include from(medium) {
      padding: 0 80px;
    }

    @include from(large) {
      padding: 0;
      width: 70%;
      margin-left: 35%;
      margin-top: -50px;
    }
  }

  .logo-wrapper {
    width: 100%;

    @include from(large) {
      width: 70%;
      margin-top: 60px;
    }
  }

  .logo {
    width: 100%;
  }

  .header-2 {
    margin-top: 10px;
  }

  .paragraph {
    margin-top: 10px;

    @include from(large) {
      margin-top: 30px;
    }
  }

  .cp-button {
    margin-bottom: 300px;
    width: 610px;

    @include from(large) {
      margin-left: 35%;
      margin-top: 30px;
      margin-bottom: 150px;
      width: 330px;
    }
  }
}

.speakers-landing {
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: $white;
    margin-bottom: 25px;
    letter-spacing: 5px;

    @include from(large) {
      font-size: 40px;
    }
  }
}

.speakers-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sponsors-landing {
  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: $black;
    margin-bottom: 25px;
    letter-spacing: 5px;
    margin-bottom: 50px;

    @include from(large) {
      font-size: 40px;
      margin-bottom: 100px;
    }
  }

  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 30px;
  }
}

.sponsors-container {
  display: flex;
  flex-direction: column;

  @include from(large) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.sponsors__category-left {
  display: flex;
  justify-content: center;

  @include from(large) {
    width: 30%;
  }
}

.sponsors__category-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;

  @include from(large) {
    width: 70%;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  div {
    margin-bottom: 30px;
    padding: 0 30px;
    text-align: center;

    @include from(large) {
      padding: 0;
      width: 33%;
      max-width: 250px;
    }
  }
}

.sponsors__category-logo {
  max-width: 180px;
  max-height: 70px;
}
