.global-container {
  width: 100%;
  max-width: 2100px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 2100px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.content {
  padding-top: $nav-height;
  width: 80%;
  margin: 0 auto;
}

.content-footer {
  min-height: calc(100vh - #{$nav-height} - #{$footer-height});
}

.landing__background-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  z-index: -1;

  @include from(large) {
    width: 50%;
  }
}

.landing__background-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  z-index: -1;

  @include from(large) {
    width: 20%;
  }
}

.general__background {
  position: fixed;
  top: 0;
  left: 0;
  height: 72px;
  z-index: 4;
}

.content_background__top {
  position: absolute;
  top: $nav-height;
  right: 0;
  width: 150px;
  transform: rotate(270deg);
  z-index: -1;
}

.content_background__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  transform: rotate(90deg);
  z-index: -1;
}

.general__menu-logo {
  position: fixed;
  top: 36px;
  transform: translateY(-50%);
  left: 15px;
  width: 125px;
  z-index: $z-logo-mobile;
}

.wrapper-hamburger {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: $z-hamburger;

  @include from(large) {
    display: none;
  }

  &--scrolled {
    background-color: $white;
    box-shadow: 0 0 1px 1px rgba($color: #000, $alpha: 0.3);
  }
}

.general__hamburger {
  padding: 14px;
  background-color: $white;
  border: none;
}

.general__menu-line {
  height: 1px;
  background-color: $white;
  width: 190px;
  margin-left: 64px;
  margin-bottom: 37px;

  @include from(large) {
    display: none;
  }
}

.general__language-menu {
  @include from(large) {
    display: none;
  }
}

.general__close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;

  @include from(large) {
    display: none;
  }
}

.body--noscroll {
  height: 100vh;
  overflow: hidden;
}

.general__menu-code {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: $white;
  padding-left: 64px;
  margin-bottom: 20px;

  @include from(large) {
    display: none;
  }
}

.general__menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 90%;
  height: 100vh;
  transform: translateX(100%);
  background-color: $dark-blue;
  z-index: $z-menu-mobile;
  transition: transform 0.3s ease-in-out;

  @include from(large) {
    position: absolute;
    height: $nav-height;
    background-color: transparent;
    top: 0;
    width: 100%;
    z-index: 1;
    transform: translateX(0);
  }

  &--open {
    transform: translateX(0);
  }

  &-list {
    padding: 74px 0 0 64px;
    min-height: 430px;
    align-items: center;

    @include from(large) {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 0;
      min-height: 0;
      max-width: 2100px;
      margin: 0 auto;
    }
  }

  &-item {
    margin-bottom: 35px;

    @include from(large) {
      margin: 0;
      padding: 20px;
    }
  }

  &-link {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: $white;

    @include from(large) {
      font-size: 14px;
      color: $black;
    }

    &--active {
      border-bottom: 3px solid red;
    }
  }

  &-language {
    display: none;
    border: 1px solid red;
    border-radius: 15px;
    margin-right: 20px;

    @include from(large) {
      display: block;
    }
  }

  &-language-button {
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: $white;
    padding: 7px 15px;

    @include from(large) {
      font-size: 14px;
      color: $black;
    }
  }

  &-follow {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 74px;
    color: $white;
    margin-bottom: 15px;

    @include from(large) {
      display: none;
    }
  }

  &-logos {
    display: flex;
    justify-content: center;

    li {
      margin: 0 15px;
      display: flex;
      align-items: center;
    }
  }
}

.general__menu > .general__menu-logos {
  @include from(large) {
    display: none;
  }
}

.general__language {
  &-label {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 74px;
    color: $white;
    margin-top: 40px;
    margin-bottom: 10px;

    @include from(large) {
      display: none;
    }
  }
  &-item {
    margin-bottom: 15px;
  }

  &-link {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding-left: 64px;
    color: $white;
    text-decoration: none;

    @include from(large) {
      display: none;
    }
  }
}

.color-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
