.keynote__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 50px;
  max-width: 270px;
  min-width: 270px;
  margin: 0 40px;

  .general__menu-logos {
    a {
      color: $white;
      font-size: 18px;

      &:hover {
        color: $yellow
      }
    }
  }
 
  &-wrapper {
    position: relative;
    margin-bottom: 50px;
  }

  &-photo {
    position: relative;
    top: 0;
    left: 0;
    width: 240px;
    border-radius: 50%;
    z-index: 1;
  }

  &-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &-name {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: $white;
    margin-bottom: 5px;

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $yellow;
      }
    }

  }

  &-description {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: $white;
    margin-bottom: 5px;
    line-height: 20px;
  }

  &-company {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $white;
    margin-bottom: 15px;
    text-align: center;
  }

  &-country {
    color: $yellow;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 15px;
    line-height: 18px;
    text-align: center;
  }

  &-button {
    font-size: 14px;
    letter-spacing: 3px;
    padding: 10px 30px;
  }
}

.speaker__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 50px;
  max-width: 230px;
  min-width: 230px;
  margin: 0 60px;

 .general__menu-logos {
   a {
     color: $black;
     font-size: 18px;

     &:hover  {
       color: $soft-red
     }
   }
 }

  &-wrapper {
    margin-bottom: 25px;
    width: 173px;
    height: 173px;
    border-radius: 50%;
    border: 3px solid $speaker-border;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-photo-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0px solid $speaker-border;
    overflow: hidden;
  }

  &-link {
    width: 150px;
    height: 150px;
  }

  &-photo {
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    min-width: 150px;
    min-height: 150px;
    z-index: 1;
  }

  &-name {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 220px;
    text-align: center;

    a {
      color: $black;
      text-decoration: none;

      &:hover {
        color: $soft-red;
      }
    }

  }

  &-responsibility {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3em;
    margin-top: 3px;
    margin-bottom: 5px;
    max-width: 270px;
    text-align: center;
  }

  &-country {
    color: $soft-red;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.3em;
    margin-top: 3px;
    margin-bottom: 5px;
    max-width: 270px;
    text-align: center;
  }

  &-type {
    font-weight: 800;
  }

}

.speaker_text, .speaker_text > p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  
  a {
    color: $black;
    &:hover {
      color: $soft-red;
    }
  }
}

