.sponsors-page {
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 5px;

    @include from(large) {
      font-size: 35px;
    }
  }
}

.sponsor_text {
  max-width: 900px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}

.sponsors-hero {
  min-height: auto;
  margin-bottom: 80px;

  @include from(large) {
    margin-bottom: 100px;
  }

  &__image {
    width: 100%;
    height: 240px;
    object-fit: cover;

    @include from(medium) {
      width: 50%;
      height: 400px;
    }
  }

  &__container {
    max-width: 950px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @include from(medium) {
      flex-direction: row;
      padding-top: 20px;
    }
  }

  &__description-container {
    line-height: 1.3em;
    width: 100%;
    background-color: $soft-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 240px;

    @include from(medium) {
      width: 50%;
      padding: 60px;
      height: 400px;
      justify-content: center;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;

    @include from(medium) {
      align-items: flex-start;
    }

    h3 {
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      margin-bottom: 20px;

      @include from(medium) {
        font-size: 30px;
        line-height: 40px;
      }
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
    }

    .button-red {
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      font-weight: 700;
      padding: 14px 20px;
      letter-spacing: 0;
      margin-top: 20px;
      
    }
  }
}

.sponsors-plans {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: $white;
    letter-spacing: 5px;
    margin-bottom: 40px;

    @include from(large) {
      font-size: 40px;
    }
  }
}

.sponsors-table {
  &__container {
    width: 90%;
    background-color: white;
    min-height: 400px;
    margin-bottom: 100px;
    padding: 20px;
    overflow: scroll;

    @include from(large) {
      display: flex;
      justify-content: center;
    }
  }

  table {
    margin: 0 auto;
  }

  &__description {
    min-width: 200px;

    @include from(large) {
      min-width: 300px;
    }
  }

  &__offer {
    padding: 20px 10px;
    min-width: 150px;
  }

  &__cell {
    padding: 10px 0;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.25);
    vertical-align: middle;
  }

  &__cell-description {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 13px;

    h1 {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 13px;
      text-align: left;
      color: $black;
      letter-spacing: 0;
      margin-bottom: 5px;
    }

    ul {
      list-style: none;
    }

    ul li::before {
      content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: red; /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */ 
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: 0; /* Also needed for space (tweak if needed) */
    }
  }

  &__cell-offer {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
  }
}
