.sponsors-page {
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 5px;

    @include from(large) {
      font-size: 35px;
    }
  }
}

.sponsor_text {
  max-width: 900px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}

.sponsors-hero {
  &__image {
    width: 100%;
    height: 240px;
    object-fit: cover;

    @include from(medium) {
      width: 50%;
      height: 400px;
    }
  }

  &__container {
    max-width: 950px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @include from(medium) {
      flex-direction: row;
      padding-top: 20px;
    }
  }

  &__description-container {
    line-height: 1.3em;
    width: 100%;
    background-color: $soft-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 240px;

    @include from(medium) {
      width: 50%;
      padding: 60px;
      height: 400px;
      justify-content: center;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;

    @include from(medium) {
      align-items: flex-start;
    }

    h3 {
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      margin-bottom: 20px;

      @include from(medium) {
        font-size: 30px;
        line-height: 40px;
      }
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
    }

    .button-red {
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      font-weight: 700;
      padding: 14px 20px;
      letter-spacing: 0;
      margin-top: 20px;
    }
  }
}
