.scholarships {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;

  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 15px;
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 15px 0 30px;
  }

  &__button {
    font-size: 15px;
    letter-spacing: 1px;
    padding: 14px;
    width: 235px;
  }
}

.tickets {
  min-height: 530px;

  &__image-container {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @include from(medium){
      flex-direction: row;
      padding-top: 20px;
    }
  }

  &__image {
    width: 100%;
    height: 300px;
    object-fit: cover;

    @include from(medium){
      width: 50%;
      height: 400px;
    }
  }

  &__description-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include from(medium){
      align-items: flex-start;
    }
  }

  &__description {
    h3 {
      letter-spacing: 1px;
      line-height: 1.2em;
    }

    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 200;
    line-height: 1.2em;

    width: 100%;
    height: 400px;
    background-color: $soft-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    @include from(medium){
      width: 50%;
      padding: 60px;
      justify-content: center;
    }
  }
}