$red: #ce1126;
$soft-red: #eb132b;
$blue: blue;
$white: #fff;
$black: #000;
$gray: #7f7f7f;
$light-gray: #dedede;
$soft-gray: #fcfcfc;
$dark-gray: #353535;
$dark-blue: #13009e;
$base-blue: #1143ce;
$soft-gray: #fcfcfc;
$yellow: #fcd116;
$dark-yellow: #fbbe0c;
$member-border: $red;
$speaker-border: $yellow;
