.footer {
  border-top: 5px solid red;
  max-width: 2100px;
  margin: 0 auto;

  &__links {
    width: 100%;
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include from(large) {
      justify-content: space-between;
    }

    ul {
      display: flex;
      margin: 0;

      @include from(large) {
        justify-content: flex-start;
      }
    }

    li {
      padding: 15px;

      @include from(large) {
        margin-bottom: 0;
      }
    }

    a {
      color: $white;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      text-decoration: none;
      font-weight: 700;
    }
  }

  &__copyright {
    background-color: $base-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

    @include from(large) {
      height: 55px;
      padding-bottom: 0;
    }
  }

  &__copyright-copy {
    color: $white;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    text-align: center;
    padding: 10px;
  }
}

.footerlanguage {
  display: none;

  @include from(large) {
    display: flex;
    align-items: center;
    padding: 15px;
  }

  &-label {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
  }

  ul {
    margin: 0;
    height: auto;
  }

  li {
    margin: 0;
  }
}
