h1 {
  font-family: "Poppins", sans-serif;
  font-size: 85px;
  font-weight: 700;

  @include from(large) {
    font-size: 35px;
  }
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 500;

  @include from(large) {
    font-size: 25px;
  }
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 300;

  @include from(large) {
    font-size: 18px;
  }
}

.button-red {
  font-family: "Poppins", sans-serif;
  background-color: $red;
  font-size: 40px;
  color: $white;
  letter-spacing: 5px;
  padding: 40px 60px;
  border-radius: 80px;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;

  @include from(large) {
    font-size: 18px;
    padding: 20px 30px;
  }
}

.footer {
  border-top: 5px solid red;

  &__links {
    height: 50px;
    width: 100%;
    background-color: $dark-blue;
    display: flex;
    align-items: center;

    ul {
      display: flex;
    }

    li {
      margin-left: 35px;
    }

    a {
      color: $white;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      text-decoration: none;
      font-weight: 700;
    }
  }

  &__copyright {
    height: 55px;
    background-color: $base-blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__copyright-copy {
    color: $white;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
  }
}
