h1 {
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-weight: 700;

  @include from(large) {
    font-size: 35px;
  }
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 500;

  @include from(large) {
    font-size: 25px;
  }
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 300;

  @include from(large) {
    font-size: 18px;
  }
}

a {
  font-family: "Poppins", sans-serif;
  background-color: $red;
  font-size: 45px;
  color: $white;
  letter-spacing: 5px;
  padding: 50px;
  border-radius: 60px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;

  @include from(large) {
    font-size: 18px;
    padding: 20px 30px;
  }
}
