{% macro render_background(background='landing', content_background='false',
alt='es', color='#FFF', image='') %} {% if background == 'landing' %}
<img
  class="landing__background-1"
  src="{{ '/static/images/scipy-bg1.svg' | asseturl }}"
  alt="Background 1"
/>
<img
  class="landing__background-2"
  src="{{ '/static/images/scipy-bg2.svg' | asseturl }}"
  alt="Background 2"
/>
{% elif background == 'landing-venue' %}
<img
  class="venue-background__top"
  src="{{ '/static/images/scipy-venue-bg1.svg' | asseturl }}"
  alt="Background 2"
/>
<img
  class="venue-background__bottom"
  src="{{ '/static/images/scipy-bg2.svg' | asseturl }}"
  alt="Background 2"
/>
{% elif background == 'landing-tickets' %}
<img
  class="tickets-background__bottom"
  src="{{ '/static/images/tickets-bg.svg' | asseturl }}"
  alt="Background tickets"
/>
{% elif background == 'tickets-categories' %}
<img
  class="tickets-categories-background__bottom"
  src="{{ '/static/images/tickets-categories-bg.svg' | asseturl }}"
  alt="Background tickets"
/>
{% elif background == 'scholarships' %}
<img
  class="scholarships__background"
  src="{{ '/static/images/scipy-bg1.svg' | asseturl }}"
  alt="Background 1"
/>
{% elif background == 'landing-subscribe' %}
<div class="color-background" style="background-color: {{ color }}"></div>
<img
  class="subscribe-background__top"
  src="{{ '/static/images/scipy-bg1.svg' | asseturl }}"
  alt="Background 2"
/>
<img
  class="subscribe-background__bottom"
  src="{{ '/static/images/scipy-bg1.svg' | asseturl }}"
  alt="Background 2"
/>
{% elif background == 'general' %}
<img
  class="general__background"
  src="{{ '/static/images/scipy-bg1.svg' | asseturl }}"
  alt="Background 1"
/>
<a
  href="{{ site.get('/', alt=alt)|url }}"
  aria-label="{{ site.get('/', alt=alt).title }}"
>
  <img
    class="general__menu-logo"
    src="{{ '/static/images/logo-menu.svg' | asseturl }}"
    alt="Logo"
  />
</a>
{% endif %} {% if content_background == 'true' %}
<img
  class="content_background__top"
  src="{{ '/static/images/scipy-bg2.svg' | asseturl }}"
  alt="Background 2"
/>
<img
  class="content_background__bottom"
  src="{{ '/static/images/scipy-bg2.svg' | asseturl }}"
  alt="Background 2"
/>
{% endif %} {% if background == 'color' %}
<div class="color-background" style="background-color: {{ color }}"></div>
{% endif %}

{% if background == 'color-cut' %}
<div
  class="color-background cut-background"
  style="background-color: {{ color }}"
>
</div>
{% endif %}
{% if background == 'color-cut-2' %}
<div
  class="color-background cut-background"
  style="background-color: {{ color }}"
>
{% for back in [1]*80 %}
<div style="{{ loop.cycle('', 'text-align:right;', 'text-align:right;', '') }}">
<img  
  style="width:50%;height:50%;{{ loop.cycle('', '-webkit-transform:rotate(180deg);transform:rotate(180deg);', 'transform:scaleY(-1);transform:scaleX(-1);', 'transform:scaleY(-1);') }}"
  src="{{ '/static/images/scipy-bg1.svg' | asseturl }}"
  alt="Background 2"
/>
</div>
{% endfor %}
</div>
{% endif %}
{% if background == 'image-middle' %}
<img
  class="image-middle"
  src="{{ ('/static/images/' + image) | asseturl }}"
  alt="Image background"
/>
{% endif %} {% if background == 'image-full' %}
<img
  class="image-full"
  src="{{ ('/static/images/' + image) | asseturl }}"
  alt="Image background"
/>
{% endif %} {% endmacro %}
