{%- from "macros/social.html" import render_social -%}
{%- from "macros/translation.html" import transbag -%}

{%- macro render_keynote(keynote, alt) -%}
<div class="keynote__card">
  <div class="keynote__card-wrapper">
    <a href={{keynote|url(alt)}}>
      {% for img in keynote.attachments.images %}
        {% if keynote.image in img|url %}
      <img
       class="keynote__card-photo"
       src="{{ img.thumbnail(480, 480, crop=True)|url }}"
       alt="Speaker photo: {{ keynote.name + ' ' + keynote.last_name }}" />
        {% endif %}
      {% endfor %} 
    </a>
    <img class="keynote__card-background"
         src="{{ '/static/images/speaker-background.svg' | asseturl }}"
         alt="Speaker background" />
  </div>
  <span class="keynote__card-country">{{ transbag('country', alt, keynote.country_origin)|upper }}</span>
  <span class="keynote__card-name">
    {{ keynote.name | upper + " " + keynote.last_name | upper }}
  </span>
  <span class="keynote__card-description">
    {{ keynote.short_description }}
  </span>
  <span class="keynote__card-company">
    {{ keynote.company|upper }}
  </span>
  <br>
  {{ render_social(keynote, 'light') }}
</div>
{%- endmacro -%}
