{% macro render_social(item, theme='dark') %}
<ul class="general__menu-logos">
  {% if item.instagram and item.instagram != '' %}
  <li>
    <a href="https://www.instagram.com/{{ item.instagram }}" aria-label="Go to Instagram profile">
      <i class="fa fa-instagram"></i>
    </a>
  </li>
  {% endif %} {% if item.twitter and item.twitter != '' %}
  <li>
    <a href="https://www.twitter.com/{{ item.twitter }}" aria-label="Go to Twitter profile">
      <i class="fa fa-twitter"></i>
    </a>
  </li>
  {% endif %} {% if item.facebook and item.facebook != '' %}
  <li>
    <a href="https://www.facebook.com/{{ item.facebook }}" aria-label="Go to Facebook profile">
      <i class="fa fa-facebook"></i>
    </a>
  </li>
  {% endif %} {% if item.linkedin and item.linkedin != '' %}
  <li>
    <a href="{{ item.linkedin }}" aria-label="Go to LinkedIn profile">
      <i class="fa fa-linkedin"></i>
    </a>
  </li>
  {% endif %} {% if item.github and item.github != '' %}
  <li>
    <a href="https://www.github.com/{{ item.github }}" aria-label="Go to Github profile">
      <i class="fa fa-github"></i>
    </a>
  </li>
  {% endif %} {% if item.web and item.web != '' %}
  <li>
    <a href="{{ item.web }}" aria-label="Go to website">
      <i class="fa fa-globe"></i>
    </a>
  </li>
  {% endif %}
</ul>
{% endmacro %}
