{%- from "macros/social.html" import render_social -%}
{%- from "macros/translation.html" import transbag -%}

{% macro sentence_case(text) %}
    {{ text[0]|upper }}{{ text[1:]|lower }}
{% endmacro %}

{%- macro render_speaker(speaker, alt, compact=false) -%}
<div class="speaker__card">
  <div class="speaker__card-wrapper">
    {% if speaker.image %}
      {% for img in speaker.attachments.images %}
      {% if speaker.image in img|url%}
      <div class="speaker__card-photo-wrapper">
      <a class="speaker__card-link" href="{{ speaker|url(alt=alt)}}">
      <img
      class="speaker__card-photo"
      src='{{ img.thumbnail(300, 300, crop=True)|url }}'
      alt="Member photo: {{ speaker.name + ' ' + speaker.last_name }}" /></a>
    </div>
      {% endif  %}
      {% endfor  %}
    {% endif %}
  </div>
  {%- set name = speaker.name.split(' ')[0] -%}
  {% if speaker.last_name.startswith('del ') %}
  {%- set last_name = speaker.last_name.split(' ') -%}
  {%- set last_name = ' '.join([last_name[0], sentence_case(last_name[1])]) -%}
  {% else %}
  {%- set last_name = sentence_case(speaker.last_name.split(' ')[0]) -%}
  {% endif %}
  {% if speaker.country_origin != speaker.country_residence %}
  <span class="speaker__card-country">
  {{ transbag('country', alt, speaker.country_origin)|upper }} / {{ transbag('country', alt, speaker.country_residence)|upper }}
  </span>
  {% else %}
  <span class="speaker__card-country">{{ transbag('country', alt, speaker.country_origin)|upper }}</span>
  {% endif %}

  {% if speaker.last_name_prefix is defined %}
  <span class="speaker__card-name"><a href="{{ speaker|url(alt=alt) }}">{{ speaker.name.split(' ')[0] }} {{ speaker.last_name_prefix|lower }} {{ speaker.last_name.split(' ')[0] }}</a></span>
  {% else %}
  <span class="speaker__card-name"><a href="{{ speaker|url(alt=alt) }}">{{ speaker.name.split(' ')[0] }} {{ speaker.last_name.split(' ')[0] }}</a></span>
  {% endif %}
  {% if compact %}
  {%- set talks = site.query('/charlas').filter(F.authors.contains(speaker._id)) -%}
    <span class="speaker__card-responsibility">{{ speaker.position_company }}</span>
    <br>
    {{ render_social(speaker, 'dark') }}
  {% else  %}
  <span class="speaker__card-responsibility">{{ speaker.position|upper }}</span>
  <span class="speaker__card-responsibility">{{ speaker.position_company }}</span>
  <br>
  {{ render_social(speaker, 'dark') }}
  {% endif %}
</div>
{%- endmacro -%}
