{%- from "macros/social.html" import render_social -%}

{%- macro render_speaker(speaker, alt) -%}
<div class="speaker__card">
  <div class="speaker__card-wrapper">
    {% if speaker.image %}
      {% for img in speaker.attachments.images %}
      {% if speaker.image in img|url%}
      <img
      class="speaker__card-photo"
      src="{{ img|url }}"
      alt="Member photo: {{ speaker.name + ' ' + speaker.last_name }}" />
      {% endif  %}
      {% endfor  %}
    {% endif %}
  </div>
  <span class="speaker__card-name">{{ speaker.name }} {{ speaker.last_name }}</span>
  <span class="speaker__card-responsibility">{{ speaker.position|upper }}</span>
  <span class="speaker__card-responsibility">{{ speaker.position_company }}</span>
  <br>
  {{ render_social(speaker, 'dark') }}
</div>
{%- endmacro -%}
