{%- from "macros/social.html" import render_social -%}

{%- macro render_speaker(speaker, alt) -%}
<div class="speaker__card">
  <div class="speaker__card-wrapper">
    {% if speaker.image %}
    <img
      class="speaker__card-photo"
      {%- if alt == 'es' -%}
      src="/ponentes/{{ speaker._id }}/{{ speaker.image }}"
      {%- else -%}
      src="../../ponentes/{{ speaker._id }}/{{ speaker.image }}"
      {%- endif -%}
      alt="Member photo: {{ speaker.name + ' ' + speaker.last_name }}" />
    {% endif %}
  </div>
  <span class="speaker__card-name">{{ speaker.name }} {{ speaker.last_name }}</span>
  <span class="speaker__card-responsibility">{{ speaker.position|upper }}</span>
  <span class="speaker__card-responsibility">{{ speaker.position_company }}</span>
  <br>
  {{ render_social(speaker, 'dark') }}
</div>
{%- endmacro -%}
