{%- from "macros/social.html" import render_social -%}
{%- from "macros/translation.html" import transbag -%}

{% macro sentence_case(text) %}
    {{ text[0]|upper }}{{ text[1:]|lower }}
{% endmacro %}

{%- macro render_talk(talk, alt) -%}
<div class="talk__card">
    <div>
      {% for author_id in talk.authors %}
      <div class="talk__card-wrapper">
        {% set author = site.get('/ponentes/' + author_id, alt=alt) %}
        {% if author.image %}
          {% for img in author.attachments.images %}
            {% if author.image in img|url%}
            <a href="{{ author|url(alt=alt) }}" style="line-height:0px;">
              <img class="talk__card-photo-wrapper"
                  src='{{ img.thumbnail(120, 120, crop=True)|url }}'
                  alt="Member photo: {{ author.name + ' ' + author.last_name }}" /></a>
            {% endif  %}
          {% endfor  %}
        {% endif %}
      </div>
      {% if author.last_name %}
      <span class="talk__card-name"><a href="{{ author|url(alt=alt) }}">{{ author.name.split(' ')[0] }} {{ author.last_name.split(' ')[0] }}</a></span>
      {% endif %}
      {% endfor %}
    </div>
    <span class="talk__card-title"><a href="{{ talk|url(alt=alt) }}">{{ talk.name }}</a></span>
    <span class="talk__card-topic">{{ transbag('translate', alt, talk.topic)|upper }}</span>
    {% if talk.summary and talk.summary|length > 200 %}
    <span class="talk__card-summary-ellipsis">{{ talk.summary }}</span>
    {% else %}
    <span class="talk__card-summary">{{ talk.summary }}</span>
    {% endif %}
    <div class="talk__card-language"><i class="fa fa-globe"></i>&nbsp;&nbsp;&nbsp;<b>{{ transbag('translate', alt, 'language') }}:</b>&nbsp;&nbsp;{{ transbag('translate', alt, talk.language) }}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;<b>{{ transbag('translate', alt, 'duration') }}:</b>&nbsp;&nbsp;
      {% if talk.type == 'talk' %}
      {{ transbag('translate', alt, 'duration_talk') }}
      {% else %}
      {{ transbag('translate', alt, 'duration_workshop') }}
      {% endif %}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-star-o"></i>&nbsp;&nbsp;&nbsp;<b>{{ transbag('translate', alt, 'level') }}:</b>&nbsp;&nbsp;{{ transbag('translate', alt, talk.level) }}
    </div>
  </div>
{%- endmacro -%}
