<div class="tourism__image-container">  
    {%- if this.image -%}
      {% for img in this.record.attachments.images %}
        {% if this.image in img|url %}
    <img 
      class="tourism__image"
      src="{{ img|url }}"
      alt="Image background"
    />
        {% endif %}
      {% endfor %}
    {% endif %}
  <div class="tourism__description">
    <div class="tourism__description-container">
      {{ this.description }}
    </div>
    <a
      class="button-red cp-button turism-button"
      href="{{this.cta_href}}"
      aria-label="Ponentes/Speakers"
    >
      {{ this.cta | upper }}
    </a>
  </div>
</div>
<br><br>
