{% extends "layout.html" %} {% from "macros/background.html" import
render_background %} {% block title %}{{ this.title }}{% endblock %} {% block
body %}
<div class="container">
  {{ render_background(background='general', content_background='true') }}
  <main class="content content-footer">
    <div class="conduct-code">
      <h1>CODE OF CONDUCT</h1>
      <p>
        Scipy Latam is a community conference intended for networking and
        collaboration in the developer community. We value the participation of
        each member of the Python community and want all attendees to have an
        enjoyable and fulfilling experience. Accordingly, all attendees are
        expected to show respect and courtesy to other attendees throughout the
        conference and at all conference events, whether officially sponsored by
        the Python Software Foundation or not. To make clear what is expected,
        all staff, attendees, speakers, exhibitors, organizers, and volunteers
        at any Scipy Latam event are required to conform to the following Code
        of Conduct. Organizers will enforce this code throughout the event.
      </p>
      <h2>Our Standards</h2>
      <p>
        Scipy Latam is dedicated to providing a positive conference experience
        for everyone, regardless of age, gender identity and expression, sexual
        orientation, disability, physical appearance, body size, ethnicity,
        nationality, race, or religion (or lack thereof), education, or
        socio-economic status. Examples of behavior that contributes to creating
        a positive environment include:
      </p>
      <ul>
        <li><p>Being kind to others</p></li>
        <li><p>Behaving professionally</p></li>
        <li><p>Using welcoming and inclusive language</p></li>
        <li><p>Being respectful of differing viewpoints and experiences</p></li>
        <li><p>Gracefully accepting constructive criticism</p></li>
      </ul>
      <p>
        Participants asked to stop any inappropriate behavior are expected to
        comply immediately. If a participant engages in behavior that violates
        this code of conduct, the conference organizers may take any action they
        deem appropriate, including warning the offender or expulsion from the
        conference with no refund. Thank you for helping make this a welcoming,
        friendly event for all.
      </p>
      <h2>Weapons Policy</h2>
      <p>
        No weapons are allowed at conference venues, including but not limited
        to explosives (including fireworks), guns, and large knives such as
        those used for hunting or display, as well as any other item used for
        the purpose of causing injury or harm to others. Anyone seen in
        possession of one of these items will be asked to leave immediately, and
        will only be allowed to return without the weapon. Attendees are further
        expected to comply with all state and local laws on this matter.
      </p>
      <h2>Scope</h2>
      <p>
        All Scipy Latam attendees are subject to the Code of Conduct. This
        includes Scipy Latam staff and volunteers, as well as attendees of the
        tutorials, workshops, summits, poster sessions, receptions, conference,
        sprints, and sponsored or unofficial events. Exhibitors in the expo
        hall, sponsor or vendor booths, or similar activities are also subject
        to the Code of Conduct. In particular, exhibitors should not use
        sexualized images, activities, or other material. Booth staff (including
        volunteers) should not use sexualized clothing/uniforms/costumes, or
        otherwise create a sexualized environment.
      </p>
      <h2>Contact Information</h2>
      <p>
        If you believe that someone is violating the code of conduct during a
        Scipy Latam event, or have any other concerns, please contact a member
        of the event staff immediately. Scipy Latam Incident Report Address
        pycon-us-report@python.org
      </p>
      <p>
        In case of a conflict of interest, you can individually contact:
      </p>
      <p>
        Ewa Jodlowska Python Software Foundation - Director of Operations
        ewa@python.org Ernest W. Durbin III PyCon US - Conference Chair
        ernest@python.org
      </p>
      <p>
        Conference staff will be happy to help participants contact hotel/venue
        security or local law enforcement, provide escorts, or otherwise assist
        any attendee to feel safe for the duration of the conference. We value
        your attendance.
      </p>
      <h2>License</h2>
      <p>
        This Code of Conduct was forked from the example policy from the Pycon
        2018 Cleveland , which is under a Creative Commons Zero license.
      </p>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__links">
      <ul>
        <li>
          <a href="/code-conduct">CODE OF CONDUCT</a>
        </li>
        <li>
          <a href="/code-conduct">CONVINCE YOUR BOSS</a>
        </li>
      </ul>
    </div>
    <div class="footer__copyright">
      <span class="footer__copyright-copy">
        Made with love in Colombia. Copyright © 2019 Python Colombia. All rights
        reserved.
      </span>
    </div>
  </footer>
</div>
{% endblock %}
