{%- extends "layout.html" -%} {%- from "macros/background.html" import
render_background -%} {%- from "macros/social.html" import render_social -%} {%-
from "macros/translation.html" import transbag -%} {%- set t_call_for_proposals
= transbag('translate', this.alt, 'call_for_proposals') -%} {%- set t_date =
transbag('translate', this.alt, 'date') -%}
{%- set t_keynotes = transbag('translate', this.alt, 'keynotes') -%}
{%- set t_sponsors = transbag('translate', this.alt, 'sponsors') -%}
{%- set t_venue = transbag('translate', this.alt, 'venue') -%}
{%- set t_subscribe = transbag('translate', this.alt, 'subscribe') -%}
{%- set t_subscribe_name = transbag('translate', this.alt, 'subscribe_name') -%}
{%- set t_subscribe_last_name = transbag('translate', this.alt, 'subscribe_last_name') -%}
{%- set t_subscribe_email = transbag('translate', this.alt, 'subscribe_email') -%}
{%- set t_subscribe_button = transbag('translate', this.alt, 'subscribe_button') -%}
{%- set t_form_required = transbag('translate', this.alt, 'form_required') -%}
{%- set t_form_email = transbag('translate', this.alt, 'form_email') -%}
{%- set venue = site.get('/venue', alt=this.alt) -%}
{%- set tickets = site.get('/tickets', alt=this.alt) -%}
{% block title %}{{ this.title }}{% endblock %} {% block body%}

{%- set t_days = transbag('translate', this.alt, 'days') -%}
{%- set t_hours = transbag('translate', this.alt, 'hours') -%}
{%- set t_minutes = transbag('translate', this.alt, 'minutes') -%}
{%- set t_seconds = transbag('translate', this.alt, 'seconds') -%}

<div class="container">
  {{ render_background(background='landing', alt=this.alt) }}
  <main class="landing content">
    <div class="logo-wrapper">
      <img
        class="logo"
        src="{{ '/static/images/logo.svg' | asseturl }}"
        alt="logo"
      />
    </div>
    <div class="text">
      <h1 class="header-1">{{ t_date }}</h1>
      <h2 class="header-2">{{ venue.location }}</h2>
      <h2 class="header-2">{{ venue.name }}</h2>
      <p class="paragraph">
        {{ this.body }}
      </p>
    </div>
    {%- if 'call_for_proposals' in this.sections -%}
    <a
      class="button-red cp-button"
      href="{{ this.call_for_proposals }}"
      aria-label="Application Form Link"
    >
      {{ t_call_for_proposals | upper }}
    </a>
    {%- endif -%}


    <div class="countdown">
      <div class="countdown-number">
        <span id="countdown-days"></span>
        <span id="countdown-hours"></span>
        <span id="countdown-minutes"></span>
        <span id="countdown-seconds"></span>
      </div>
      <div class="countdown-label">
        <span>{{ t_days }}</span>
        <span>{{ t_minutes }}</span>
        <span>{{ t_hours }}</span>
        <span>{{ t_seconds }}</span>
      </div>
    </div>
  </main>
</div>
<div class="container">
  {{ render_background(background='color', color='#2811CE') }}
  <div class="speakers-landing content">
    <h1>{{ t_keynotes|upper }}</h1>
    <div class="speakers-container">
      {% for speaker in site.query('/speakers', alt=this.alt).order_by('+order') %} {% if
      speaker.keynote %}
      <div class="speaker__card">
        <div class="speaker__card-wrapper">
          <img
            class="speaker__card-photo"
            src="{{ speaker|url(alt='es')|replace('/en', '') + speaker.image }}"
            alt="Speaker photo: {{ speaker.name + ' ' + speaker.last_name }}"
          />
          <img
            class="speaker__card-background"
            src="{{ '/static/images/speaker-background.svg' | asseturl }}"
            alt="Speaker background"
          />
        </div>
        <span class="speaker__card-name">{{
        speaker.name | upper + " " + speaker.last_name | upper
        }}</span>
        <span class="speaker__card-description">{{
          speaker.short_description
        }}</span>
        <span class="speaker__card-company">{{ speaker.company }}</span>
        {{ render_social(speaker) }}
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>
<div class="container">
  {{ render_background(background='landing-venue') }}
  <div class="venue-landing content">
    <h1>{{ t_venue|upper }}</h1>
    <div class="venue-landing__map-container">
      <div class="venue-landing__map"></div>
      <div class="venue-landing__description">
        <h2>{{ venue.name }}</h2>
        <h3>{{ venue.location }}</h2>
        <h4>{{ venue.address }}</h2>
        <a
          class="button-red google-button"
          href="{{ venue.cta_link }}"
        >
          {{ venue.cta | upper }}
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {{ render_background(background='color-cut', color='#2811CE') }}
  {{ render_background(background='landing-tickets') }}
  <div class="tickets content">
    <h1>{{ tickets.title|upper }}</h1>
    <div class="tickets__boxes">
      <div class="tickets__box">
        <div class="tickets__box-container">
          <div class="tickets__box-image">
            <img
              class="tickets__box-icon"
              src="{{ '/static/images/estudiantes_ticket.png' | asseturl }}"
              alt="Image background"
            />
          </div>
          <div class="tickets__box-content">
            <h1>{{ tickets.estudiantes_title }}</h1>
            <div class="tickets__ticket-container tickets__ticket-container--yellow">
              <span class="tickets__ticket-title">
                {{ tickets.estudiantes_inicial_title }}
              </span>
              <span class="tickets__ticket-value">
                {{ tickets.estudiantes_inicial_valor }}
              </span>
              <span class="tickets__ticket-deadline">
                {{ tickets.estudiantes_inicial_deadline }}
              </span>
            </div>

            <div class="tickets__ticket-container">
              <span class="tickets__ticket-title">
                {{ tickets.estudiantes_segunda_title }}
              </span>
              <span class="tickets__ticket-value">
                {{ tickets.estudiantes_segunda_valor }}
              </span>
              <span class="tickets__ticket-deadline">
                {{ tickets.estudiantes_segunda_deadline }}
              </span>
            </div>

            <div class="tickets__ticket-container">
              <span class="tickets__ticket-title">
                {{ tickets.estudiantes_tercera_title }}
              </span>
              <span class="tickets__ticket-value">
                {{ tickets.estudiantes_tercera_valor }}
              </span>
              <span class="tickets__ticket-deadline">
              </span>
            </div>
            <a
              class="button-red tickets__button"
              href="{{ this.estudiantes_comprar_href }}"
            >
              {{ tickets.estudiantes_comprar_label | upper }}
            </a>

            <p>
              {{ tickets.estudiantes_footnotes }}
            </p>
          </div>
        </div>
      </div>


      <div class="tickets__box">
          <div class="tickets__box-container">
            <div class="tickets__box-image">
              <img
                class="tickets__box-icon"
                src="{{ '/static/images/profesionales_ticket.png' | asseturl }}"
                alt="Image background"
              />
            </div>
            <div class="tickets__box-content">
              <h1>{{ tickets.profesionales_title }}</h1>
              <div class="tickets__ticket-container tickets__ticket-container--yellow">
                <span class="tickets__ticket-title">
                  {{ tickets.profesionales_inicial_title }}
                </span>
                <span class="tickets__ticket-value">
                  {{ tickets.profesionales_inicial_valor }}
                </span>
                <span class="tickets__ticket-deadline">
                  {{ tickets.profesionales_inicial_deadline }}
                </span>
              </div>

              <div class="tickets__ticket-container">
                <span class="tickets__ticket-title">
                  {{ tickets.profesionales_segunda_title }}
                </span>
                <span class="tickets__ticket-value">
                  {{ tickets.profesionales_segunda_valor }}
                </span>
                <span class="tickets__ticket-deadline">
                  {{ tickets.profesionales_segunda_deadline }}
                </span>
              </div>

              <div class="tickets__ticket-container">
                <span class="tickets__ticket-title">
                  {{ tickets.profesionales_tercera_title }}
                </span>
                <span class="tickets__ticket-value">
                  {{ tickets.profesionales_tercera_valor }}
                </span>
                <span class="tickets__ticket-deadline">
                </span>
              </div>
              <a
                class="button-red tickets__button"
                href="{{ this.profesionales_comprar_href }}"
              >
                {{ tickets.profesionales_comprar_label | upper }}
              </a>

              <p>
                {{ tickets.profesionales_footnotes }}
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container">
  {{ render_background(background='color', color='#FFF') }}
  <div class="sponsors-landing content">
    <h1>{{ t_sponsors|upper }}</h1>
    <div class="sponsors-container">
      {% for category in ['Platinum'] %}
      {%- set t_cat = transbag('translate', this.alt, category|lower) -%}
      <div class="sponsors__category-left">
        <h2 class="sponsors__category-name">{{ t_cat }}</h2>
      </div>
      <div class="sponsors__category-logos">
        {% for sponsor in site.query('/sponsors', alt=this.alt) %} {%
        if sponsor.category == category%}
        <div>
          <img
            class="sponsors__category-logo"
            src="{{ sponsor|url(alt='es')|replace('/en', '') + sponsor.logo }}"
            alt="{{ sponsor.name }} Logo"
          />
        </div>
        {% endif %} {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container">
    {{ render_background(background='landing-subscribe', color='#FCD116') }}


<!-- Begin Mailchimp Signup Form -->
    <!--End mc_embed_signup-->
    <div class="subscribe-landing content">
    <h1>{{ t_subscribe }}</h1>
    <br />

    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup_scipy">
      <form action="https://scipyla.us20.list-manage.com/subscribe/post?u=b6a16023135b00123ea55db21&amp;id=7a081c4306" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <!-- <div id="mc_embed_signup_scroll"> -->

      <div class="mc-field-group">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="{{ t_subscribe_email }}">
      </div>
      <div class="mc-field-group">
	      <input type="text" value="" name="FNAME" class="required" id="mce-FNAME" placeholder="{{ t_subscribe_name }}">
      </div>
      <div class="mc-field-group">
        <input type="text" value="" name="LNAME" class="required" id="mce-LNAME" placeholder="{{ t_subscribe_last_name }}">
      </div>
      <div class="mc-field-group" id="mc-input-group">
          <input type="submit" value="{{ t_subscribe_button }}" name="subscribe" id="mc-embedded-subscribe" class="button-red">

      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_b6a16023135b00123ea55db21_7a081c4306" tabindex="-1" value="">
      </div>
</form>
  <div id="mce-responses" class="">
      <div class="response" id="mce-error-response"></div>
          <div class="response" id="mce-success-response"></div>
      </div>
  </div>
  </div>
{% endblock %}

{% block bottom_scripts %}

{{ super() }}

<!-- Scripts: Countdown -->
<script>
  // Set the date we're counting down to
  {% set start_date = site.get('/').date_start %}
  var countDownDate = new Date("{{ start_date }}").getTime();

  // Update the count down every 1 second
  var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="coutndown-xxx"
  document.getElementById("countdown-days").innerHTML = days
  document.getElementById("countdown-hours").innerHTML = hours
  document.getElementById("countdown-minutes").innerHTML = minutes
  document.getElementById("countdown-seconds").innerHTML = seconds

  // If the count down is finished, write some text
  if (distance < 0) {
  clearInterval(x);
  document.getElementById("countdown").innerHTML = "";
  }
  }, 1000);

  function initMap() {
    // The location of Uluru
    var uluru = {lat: 4.6027, lng: -74.0649};
    // The map, centered at Uluru
    var map = new google.maps.Map(
        document.querySelector('.venue-landing__map'),
        {zoom: 17, center: uluru});
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({position: uluru, map: map});
  }
</script>

<!-- Scripts: MailChimp -->
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';
  $.extend($.validator.messages, {
    required: "{{ t_form_required }}" ,
    email: "{{ t_form_email }}" ,
  });}(jQuery));var $mcj = jQuery.noConflict(true);</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAveCgjsAZGTPaV-q2XO60CFxJNsR0wlQM&callback=initMap">
</script>
{% endblock %}