{%- extends "layout.html" -%}
{%- from "macros/background.html" import render_background -%}
{%- from "macros/translation.html" import transbag -%}

{%- set t_call_for_proposals = transbag('translate', this.alt, 'call_for_proposals') -%}
{%- set t_date = transbag('translate', this.alt, 'date') -%}

{%- set venue = site.get('/venue', alt=this.alt) -%}

{% block title %}{{ this.title }}{% endblock %}
{% block background %}{{ render_background(background='landing') }}{% endblock %}

{% block body %}
  <main class="landing content">
    <div class="logo-wrapper">
      <img
        class="logo"
        src="{{ '/static/images/logo.svg'|asseturl }}"
        alt="logo"
      />
    </div>

    <div class="text">
      <h1 class="header-1">{{ t_date }}</h1>
      <h2 class="header-2">{{ venue.location }}</h2>
      <p class="paragraph">
        {{ this.body }}
      </p>
    </div>
    <!-- <a
      class="button-red cp-button"
      href="{{ this.call_for_proposals }}"
      aria-label="Application Form Link"
    >
      {{ t_call_for_proposals|upper }}
    </a> -->
  </main>
{% endblock %}