{%- from "macros/translation.html" import transbag -%}

{%- set t_code_of_conduct = transbag('menu', this.alt, 'code_of_conduct') -%}
{%- set t_footer_message = transbag('translate', this.alt, 'footer_message') -%} 
{%- set t_home =  transbag('menu', this.alt, 'home') -%}

<!doctype html>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,700|Poppins:300,500,700" rel="stylesheet">
<link rel="stylesheet" href="{{ '/static/gen/styles.css'|asseturl }}">
<script type=text/javascript src="{{ '/static/gen/app.js'|asseturl }}" charset="utf-8"></script>
<title>SciPy Latam 2019 - {% block title %}{% endblock %}</title>

<body>
  <div class="container landing-page">
  {% block background %}
  {% endblock %}
  <nav class="general__menu">
    <ul class="general__menu-list">
      <li class="general__menu-item">
        <a class="general__menu-link" href="{{ '/'|url(this.alt) }}">{{ t_home|upper }}</a>
      </li>
      <li class="general__menu-item">
        <a class="general__menu-link" href="{{ '/code-of-conduct'|url(this.alt) }}">{{ t_code_of_conduct|upper }}</a>
      </li>
      {%- if this.alt == 'es' -%}
      <li class="general__menu-item">
          <a class="general__menu-link" href="{{ '.'|url(alt='en') }}">English</a>
      </li>
      {%- elif this.alt == 'en' -%}
      <li class="general__menu-item">
        <a class="general__menu-link" href="{{ '.'|url(alt='es') }}">Español</a>
      </li>
      {%- endif-%}
    </ul>
  </nav>
  {% block body %}
  {% endblock %}
  </div>

  <footer class="footer">
      <div class="footer__links">
        <ul>
          <li>
            <a href="{{ '/code-conduct'|url(this.alt) }}">{{ t_code_of_conduct|upper }}</a>
          </li>
          <!-- <li>
            <a href="{{ '/code-conduct'|url(this.alt) }}">{{ transbag('menu', this.alt, 'convince_boss')|upper }}</a>
          </li> -->
        </ul>
      </div>
      <div class="footer__copyright">
        <span class="footer__copyright-copy">{{ t_footer_message }}</span>
      </div>
    </footer>  
</body>
