{%- from "macros/translation.html" import transbag -%}
{%- set event = site.get('/', alt=this.alt) -%}
{%- set l_opimage = ('/static/images/ogimage.jpg')|url(external=True) -%}
{%- set t_home = transbag('menu', this.alt, 'home') -%}
{%- set t_code_of_conduct = transbag('menu', this.alt, 'code_of_conduct') -%}
{%- set t_footer_message = transbag('translate', this.alt, 'footer_message') -%}
{%- set t_open_chat = transbag('translate', this.alt, 'open_chat') -%}
{%- from "macros/social.html" import render_social -%}

<!DOCTYPE html>
<html lang="{{ this.alt }}"">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="{{ this.title }}" />
  <meta name="google-site-verification" content="tS192x5OfHOZKosOfhq39D1Wlk6EwH_gaSw8ZUVe_bs" />
  {%- if this.redirect -%}<meta http-equiv="refresh" content="1; url={{ this.redirect }}">{%- endif %}

  <link rel="canonical" href="{{ this|url(external=True) }}" />
  <meta property="og:locale" content="{{ this.lang }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ this.title }}" />
  <meta property="og:description" content="{{ this.title }}" />
  <meta property="og:url" content="{{ this|url(alt=this.alt, external=True) }}" />
  <meta property="og:site_name" content="SciPy Latam 2019" />
  <meta property="og:updated_time" content="2019-08-13T17:51:00+00:00" />

  {%- block ogimage -%}
  <meta property="og:image" content="{{ l_opimage }}" />
  <meta property="og:image:secure_url" content="{{ l_opimage }}" />
  <meta property="og:image:width" content="2400" />
  <meta property="og:image:height" content="1260" />
  {%- endblock %}

  <!-- Favicon -->
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/favicon/apple-touch-icon.png'|asseturl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/favicon/favicon-32x32.png'|asseturl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/favicon/favicon-16x16.png'|asseturl }}">
  <link rel="mask-icon" href="{{ '/static/favicon/safari-pinned-tab.svg'|asseturl }}" color="#5bbad5">

  <title>{% block title %}{{ this.title }}{% endblock %}</title>

  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Poppins:300,500,700"
    rel="stylesheet"
  />
  <script src="https://use.fontawesome.com/53338901d9.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/static/gen/styles.css' | asseturl }}" />
</head>

<body>
  <div class="global-container">
    <div class="wrapper-hamburger">
      <button class="general__hamburger">
        <img
          src="{{ '/static/images/hamburger.svg' | asseturl }}"
          alt="Hamburger menu"
        />
      </button>
    </div>
    <nav class="general__menu">
      <button class="general__close-button">
        <img
        src="{{ '/static/images/close.svg' | asseturl }}" alt="Close menu">
      </button>
      <ul class="general__menu-list">
        {% for page in site.get('/', alt=this.alt).children.order_by('order') %}
          {% if page.display and page.main_menu %}
          <li class="general__menu-item">
            {%- set this_is_child = this.is_child_of(page) -%}
              {% if page.main_sub_menu %}
              <a class="general__menu-link {% if this_is_child %} general__menu-link--active {% endif %}"
              href="">
               {{ page.menu_label | upper }}&nbsp;&nbsp;<i class="fa fa-caret-down soft-red"></i>
             </a>
             <ul class="general__menu-sublist">
                  {% for subpage in site.query(page._id, alt=this.alt).order_by('order') %}
                  {% if subpage.display and subpage.main_menu %}
                  {%- set this_is_subchild = this.is_child_of(subpage) -%}
                  <li class="general__menu-subitem {% if this_is_subchild %} active {% endif %}"><a href="{{ subpage|url(alt=this.alt) }}">{{ subpage.menu_label }}</a></li>
                  {% endif %}        
                  {% endfor %}
              </ul>
              {% else %}
              <a class="general__menu-link {% if this_is_child %} general__menu-link--active {% endif %}"
                 href="{{ page|url }}">{{ page.menu_label | upper }}
              </a>
              {% endif %}        
          </li>
          {% endif %}
        {% endfor %}
        <li class="general__menu-language">
          {%- if this.alt == 'en' -%}
          <a class="general__menu-language-button"
          href="{{ '.'|url(alt='es') }}">ES</a>
          {%- elif this.alt == 'es' -%}
          <a class="general__menu-language-button"
          href="{{ '.'|url(alt='en') }}">EN</a>
          {%- endif-%}
        </li>
      </ul>
      <div class="general__menu-line"></div>
      <ul class="general__language-menu">
        {%- if this.alt == 'es' -%}
        <li class="general__language-item">
          <a class="general__language-link" href="{{ '.'|url(alt='en') }}"
            >ENGLISH</a
          >
        </li>
        {%- elif this.alt == 'en' -%}
        <li class="general__language-item">
          <a class="general__language-link" href="{{ '.'|url(alt='es') }}"
            >ESPAÑOL</a
          >
        </li>
        {%- endif-%}
      </ul>
      <a class="general__menu-code" href="{{ './code-of-conduct'|url(alt=this.alt) }}">
        {{ t_code_of_conduct }}
      </a>
      {{ render_social(site.get('/', 'light')) }}
    </nav>
    {% block body %} {% endblock %}
  </div>
  <footer class="footer">
    <div class="footer__links">
      <ul>
        {% for page in site.get('/', alt=this.alt).children.order_by('order') %}
          {% if page.display and page.footer_menu %}
          <li>
            <a href="{{ page|url }}">{{ page.menu_label }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      {{ render_social(site.get('/'), 'light') }}
    </div>
    <div class="footer__copyright">
      <span class="footer__copyright-copy">{{ t_footer_message }}</span>
    </div>
  </footer>
  <div class="wrapper-gitter">
    <div class="container-gitter">
      <button class="js-gitter-toggle-chat-button gitter-custom-button">
        {{ t_open_chat }}
      </button>
    </div>
  </div>

  {% block bottom_scripts %}
  <!-- Scripts -->
  <script type=text/javascript src="{{ '/static/gen/app.js'|asseturl }}" charset="utf-8"></script>

  <!-- {%- if this.redirect -%}
  <script type=text/javascript charset="utf-8">
      window.location = "{{ this.redirect }}";
  </script>
  {%- endif -%} -->

  <!-- Scripts: Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138156801-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138156801-1');
  </script>

  <!-- Scripts: Gitter chat -->
  <script>
    ((window.gitter = {}).chat = {}).options = {
      room: 'scipy-latinamerica/lobby',
      activationElement: '.gitter-button'
    };
  </script>
  <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
  {% endblock %}
</body>
</html>