{%- extends "layout.html" -%}
{%- from "macros/background.html" import render_background -%}
{%- from "macros/translation.html" import transbag -%}
{%- from "macros/keynote.html" import render_keynote -%}
{%- from "macros/speaker.html" import render_speaker -%}

{%- set t_keynotes = transbag('translate', this.alt, 'keynotes') -%}
{%- set t_speakers = transbag('translate', this.alt, 'speakers') -%}

{% block title %}{{ this.title }}{% endblock %}
{% block body %}
{{ render_background(background='general', content_background='true', alt=this.alt) }}

<br><br><br>

<div class="container">
    <div class="keynote-landing content">
      {% set keynotes = site.query('/ponentes', alt=this.alt).filter(F.keynote == True).order_by('+order') %}
      <h1 style="color:black;">{{ t_keynotes|upper }}</h1><br>
        {{ render_background(background='color-cut', color='#2811CE') }}
        <div class="keynote-container">
          {% for keynote in keynotes %}
            {{ render_keynote(keynote, alt=this.alt) }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="keynote-landing content">
      {% set speakers = site.query('/ponentes', alt=this.alt).filter(F.keynote == False).order_by('+name', '+last_name') %}
      {% if speakers.count() %}
      <h1 style="color:black;">{{ t_speakers|upper }} ({{ speakers.count() }})</h1><br>
      {% endif %}
      <div class="team-members-container">
          {% for speaker in speakers %}
          {{ render_speaker(speaker, alt=this.alt, compact=true) }}
          {% endfor %}
      </div>
    </div>
</div>
{% endblock %}
