{%- extends "layout.html" -%} {%- from "macros/background.html" import
render_background -%} {%- from "macros/translation.html" import transbag -%} 
{%- from "macros/speaker.html" import render_speaker -%}

{% macro sentence_case(text) %}
    {{ text[0]|upper }}{{ text[1:]|lower }}
{% endmacro %}

{%- block ogimage -%}
{%- if this.image_open_graph -%}
{%-   for img in this.attachments.images -%}
{%-     if this.image_open_graph in img|url -%}
{{ img|url }}
{%-     endif  -%}
{%-   endfor -%}
{%- endif -%}
{%- endblock -%}

{%- block ogimage_twitter -%}
{%- if this.image_open_graph -%}
{%-   for img in this.attachments.images -%}
{%-     if this.image_open_graph in img|url -%}
{{ img|url }}
{%-     endif  -%}
{%-   endfor -%}
{%- endif -%}
{%- endblock -%}

{% block title %}
{{ this.title }}
{% endblock %} {% block body %}
<div class="container">
  {{ render_background(background='general', content_background='true', alt=this.alt) }}

  <div class="team-members content">
      <div class="team-members-container">
      {{ render_speaker(this, alt=this.alt) }}
    </div>
    <div class="speaker_text">
      {{ this.information }}
    </div>
    <br><br>
    <div class="speaker_text">
      {%- set talks = site.query('/charlas').filter(F.authors.contains(this._id)) -%}
      {%- for talk in talks -%}
      <h2 style="font-weight:800;">{{ sentence_case(transbag('translate', alt, talk.type)).strip() }}:</h2>
      <span class="speaker_text">{{ talk.name }}</span>
      <span class="speaker_text">({{ transbag('translate', alt, talk.language) }})</span>
    {% endfor %}
  
    </div>
    <br><br><br><br><br><br>
  </div>
</div>
{% endblock %}
