{%- extends "layout.html" -%} {%- from "macros/background.html" import
render_background -%} {%- from "macros/translation.html" import transbag -%} 
{%- from "macros/speaker.html" import render_speaker -%}

{% macro sentence_case(text) %}
    {{ text[0]|upper }}{{ text[1:]|lower }}
{% endmacro %}

{%- block ogimage -%}
{%- if this.image_open_graph -%}
{%-   for img in this.attachments.images -%}
{%-     if this.image_open_graph in img|url -%}
<meta property="og:image" content="{{ img|url(external=True) }}" />
<meta property="og:image:secure_url" content="{{ img|url(external=True) }}" />
<meta property="og:image:width" content="1067" />
<meta property="og:image:height" content="637" />
  {%-     endif  -%}
{%-   endfor -%}
{%- endif -%}
{%- endblock -%}

{% block title %}
{{ this.name }} {{ this.last_name }} | SciPyLA 2019
{% endblock %} {% block body %}
<div class="container">
  {{ render_background(background='general', content_background='true', alt=this.alt) }}

  <div class="team-members content">
      <div class="team-members-container">
      {{ render_speaker(this, alt=this.alt) }}
    </div>
    <div class="speaker_text">
      {{ this.information }}
    </div>
    <br><br>
    <div class="speaker_text">
      {%- set talks = site.query('/charlas').filter(F.authors.contains(this._id)) -%}
      {%- for talk in talks -%}
        {% if talk.type in ['keynote', 'workshop', 'talk'] %}
        <h2 style="margin-top:30px; font-weight:800;">{{ sentence_case(transbag('translate', alt, talk.type)).strip()|upper }}:</h2>
        {% endif %}
      <a href="{{ talk|url(alt=this.alt) }}"><span class="speaker_text">{{ talk.name }}</span></a>
      {% endfor %}
    </div>
    <br><br><br><br><br><br>
  </div>
</div>
{% endblock %}
