{%- extends "layout.html" -%}
{%- from "macros/background.html" import render_background -%}
{%- from "macros/translation.html" import transbag -%}
{%- from "macros/talk.html" import render_talk -%}

{% block title %}{{ this.title }} | SciPyLA 2019{% endblock %}
{% block body %}
<div class="container menu-background">
  {{ render_background(background='general', content_background='true', alt=this.alt) }}
  <div class="container">
    {{ render_background(background='color-cut-2', color='#fcd116') }}
    {% set talks = site.query('/charlas', alt=this.alt).filter(F.type == 'talk').order_by('topic', 'name') %}
    <div class="talks content">
      <br><br>
      <h1>{{ this.title|upper }} ({{ talks.count() }})</h1>
      <p>{{ this.body}}</p>
      <br>
      <div class="talks-container">
      {% for talk in talks %}
        {{ render_talk(talk, alt=this.alt) }}
      {% endfor %}
      </div>
    </div>
    <div class="container">
        {{ render_background(background='color', color='#eb132b') }}
        <div class="workshop-footer">
          <span>{{ transbag('translate', this.alt, 'join_us_bogota') }}</span>
          <a class="button-white"
             href="{{ '/entradas'|url(alt=this.alt) }}">{{ transbag('translate', this.alt, 'buy_tickets') }}</a>
        </div>
      </div>    
  </div>
</div>
{% endblock %}
