{%- extends "layout.html" -%} {%- from "macros/background.html" import
render_background -%} {%- from "macros/translation.html" import transbag -%} 
{%- from "macros/speaker.html" import render_speaker -%}

{% macro sentence_case(text) %}
    {{ text[0]|upper }}{{ text[1:]|lower }}
{% endmacro %}

{% block title %}
{{ this.name }} | SciPyLA 2019
{% endblock %} {% block body %}
<div class="container">
  {{ render_background(background='general', content_background='true', alt=this.alt) }}

  <div class="content">
      <div class="talk-container">
          {% if this.type in ['talk', 'workshop'] %}
          <span class="talk__type">{{ transbag('translate', alt, this.type)|upper }}</span>
          {% endif %}
          <span class="talk__title">{{ this.name }}</span>
          {% if this.topic %}
          <span class="talk__topic">{{ transbag('translate', alt, this.topic)|upper }}</span>
          {% endif %}
          <div class="talk__language">
            {% if this.language %}
            <span class="talk__language-item">
              <i class="fa fa-globe"></i>
              &nbsp;&nbsp;&nbsp;<b>{{ transbag('translate', alt, 'language') }}:</b>
              &nbsp;&nbsp;{{ transbag('translate', alt, this.language) }}
            </span>
            {% endif %}
            {% if this.type in ['talk', 'workshop', 'keynote'] %}
            <span class="talk__language-item">
              <i class="fa fa-clock-o"></i>
              &nbsp;&nbsp;&nbsp;<b>{{ transbag('translate', alt, 'duration') }}:</b>
              &nbsp;&nbsp;
              {{ this.duration }}
            </span>
            {% endif %}
            {% if this.level is defined %}
            <span class="talk__language-item"></span>
              <i class="fa fa-star-o"></i>
              &nbsp;&nbsp;&nbsp;<b>{{ transbag('translate', alt, 'level') }}:</b>
              &nbsp;&nbsp;{{ transbag('translate', alt, this.level) }}
            </span>
            {% endif %}
          </div>
          <span class="talk__description">{{ this.description }}</span>
          {% if this.authors|count > 1 %}
          {% set word = 'speakers' %}
          {% else %}
          {% set word = 'speaker' %}
          {% endif %}
          {% if this.file %}
          {% for file in this.attachments %}
            {% if this.file in file|url %} 
          <br>
          <span class="talk__name"><a href="{{ this.file|url }}">{{ transbag('translate', this.alt, 'download') }}</a></span>
          <br><br><br><br>
            {% endif %}
          {% endfor %}
          {% endif %}
          {% if this.authors %}
          <span class="talk__subtitle">{{ transbag('translate', this.alt, word)|upper }}:</span>
          {% endif %}
          <div class="talk__container">
              {% for author_id in this.authors %}
              <div class="talk__item">
              <div class="talk__wrapper">
                {% set author = site.get('/ponentes/' + author_id, alt=alt) %}
                {% if author.image %}
                  {% for img in author.attachments.images %}
                    {% if author.image in img|url%}
                    <a href="{{ author|url(alt=alt) }}" style="line-height:0px;">
                      <img class="talk__photo-wrapper"
                          src='{{ img.thumbnail(172, 172, crop=True)|url }}'
                          alt="Member photo: {{ author.name + ' ' + author.last_name }}" /></a>
                    {% endif  %}
                  {% endfor  %}
                {% endif %}
              </div>
              {% if author.last_name %}
              <span class="talk__name"><a href="{{ author|url(alt=alt) }}">{{ author.name.split(' ')[0] }} {{ author.last_name_prefix }} {{ author.last_name.split(' ')[0] }}</a></span>
              {% endif %}
             </div>
              {% endfor %}
          </div>
          {% if this.material is defined %}
          <div>
          <br><br>
          <span class="talk__name">MATERIAL:</span>
          <br><br>
          <ul class="talk-material">
          {% for blk in this.material.blocks %}
            {% if blk._flowblock == 'file' %}
              {% for attachment in this.attachments %}
                {% if blk.attachment in attachment|url %}
                <li class="talk-material-item"><a href="{{ attachment|url }}" target="_blank">{{ blk.attachment }}</a></li>
                {% endif %}
              {% endfor %}
            {% else %}
            <li class="talk-material-item"><a href="{{ blk.uri }}" target="_blank">{{ blk.uri }}</a></li>
            {% endif %}  
          {% endfor %}
          </ul>
          <br>
          </div>
          {% endif %}
          {% if this.video is defined %}
          <br><br>
          <span class="talk__name">VIDEO:</span>
          <br><br>
          <div style="position:relative;padding-top:56.25%;">
            <iframe src="https://www.youtube.com/embed/{{ this.video.split('/')[-1] }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" allowfullscreen >
            </iframe>
          </div>
          {% endif %}
          <br><br><br><br><br><br><br><br>
      </div>
    </div>
  </div>
</div>
{% endblock %}
