{%- extends "layout.html" -%} {%- from "macros/background.html" import
render_background -%} {%- from "macros/social.html" import render_social -%} {%-
from "macros/translation.html" import transbag -%} {%- set t_call_for_proposals
= transbag('translate', this.alt, 'call_for_proposals') -%} {%- set t_date =
transbag('translate', this.alt, 'date') -%}
{%- set t_team = transbag('translate', this.alt, 'team') -%}
{%- set venue = site.get('/lugar',
alt=this.alt) -%} {% block title %}{{ this.title }} | SciPyLA 2019{% endblock %} {% block body
%}
<div class="container menu-background">
  {{ render_background(background='general', content_background='true', alt=this.alt) }}
</div>
<div class="container">
  {{ render_background(background='color-cut', color='#FCD116') }}
  <br><br>
  <div class="team-members content">
    {% for role in ['Co-Organizer', 'Collaborator', 'Reviewer', 'Volunteer', 'Ambassador'] %}
    {%   set role_query = site.query('/equipo', alt=this.alt).filter(F.category == role).order_by('+sort_key', 'name', 'last_name') %}
    {%   if role_query.count() %}
    <h1>{{ transbag('translate', this.alt, role.lower())|upper }}</h1>
    <br>
    <div class="team-members-container">
    {%     for member in role_query %}
    {%       if member.publish %}
      <div class="team-member__card">
        <div class="team-member__card-wrapper">
          {% if member.image %}
            {% for img in member.attachments.images %}
              {% if member.image in img|url %}
          <img
            class="team-member__card-photo"
            src="{{ img.thumbnail(300, 300, crop=True)|url }}"
            alt="Member photo: {{ member.name + ' ' + member.last_name }}" />
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
        <span class="team-member__card-name">
          {{ member.name.split(' ')[0] }} {{ member.last_name.split(' ')[0] }}
        </span>
        <span class="team-member__card-responsibility">
            {{ member.responsibility }}
        </span>
      </div>
    {%       endif %}
    {%     endfor %}
    </div>
    {%   endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
