{%- extends "layout.html" -%} {%- from "macros/background.html" import
render_background -%} {%- from "macros/translation.html" import transbag -%} {%-
from "macros/tickets.html" import render_tickets -%} {%- from "macros/form.html"
import render_subscribe -%} {%- set t_categories = transbag('translate',
this.alt, 'categories') -%} {% block title %}{{ this.title }}{% endblock %} {%
block body %}
<div class="container menu-background">
  {{ render_background(background='general', content_background='true', alt=this.alt) }}
</div>

<div class="sponsors-page container">
  <br />
  <div class="sponsors-hero content">
    {{ render_background(background='landing-tickets') }}
    {{ render_background(background='color-cut', color='#2811CE') }}
    <br /><br />
    <h1>{{ this.title | upper }}</h1>
    <br />
    <div class="sponsors-hero__container">
      {% for img in this.attachments.images %}
      <img
        class="sponsors-hero__image"
        src="{{ img | url }}"
        alt="Image background"
      />
      {% endfor %}
      <div class="sponsors-hero__description-container">
        <div class="sponsors-hero__description">
          {{ this.hero_description }}
        </div>
      </div>
    </div>
    <br /><br /><br /><br />
  </div>
</div>

<div class="sponsors-page container">
  <br />
  <div class="sponsors-hero content">
    {{ render_background(background='tickets-categories') }}
    {{ render_background(background='color', color='#2811CE') }}
    <div class="tickets">
      <h1 style="color:white;">{{ t_categories | upper }}</h1>
      {{ render_tickets(this) }}
    </div>
  </div>
</div>

<div class="container">
  {{ render_background(background='landing-subscribe', color='#FCD116') }}
  {{ render_subscribe(this.alt) }}
</div>
{% endblock %}
